<h4>Edit Comment: <%= @comment.id %></h4>
<%= form_for :comment, :url => comment_path(@comment), :html => {:id => "edit-form",:class => "form-horizontal" , :method => :put} do |f| %>

<% if flash[:error].present? %>
<div class="alert alert-error">
	<%= flash[:error].join("<br>").html_safe %>
</div>
<% end %>

<% if flash[:result].present? %>
<div class="alert alert-success">
	<%= flash[:result] %>
</div>
<% end %>
  <div class="control-group"> 
    <%= f.label :name, :class =>"control-label" %>
    <div class="controls">
      <%= @comment.user.first_name %> <%= @comment.user.last_name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :comment, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_area :comment %>
    </div>
  </div>
 
  <div class="control-group">  
    <div class="controls">
      <%= f.check_box :deleted %> Blocked
    </div>
  </div>
 

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn save-btn">Save</button>
       <a href="<%= comments_path %>" class="btn">Cancel</a>
    </div>
  </div>
<% end %>