<h4>Comments</h4>
<%= form_tag comments_path,:method => :get,:id => "list-form" do |f| %>
<input type="hidden" name="sort" id="sort" value="<%= params[:sort] if params[:sort].present? %>">
<div class="input-append">
 
  <%= text_field_tag :search,params[:search], :class => "span2", :id =>  "appendedInputButton" %>
  <button class="btn">Search</button>  
 
</div>
<% end %>
<div id="post-media" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<table class="table">
	<tr>
		<th></th>
		<th>id</th>
	 	<th>post id</th>
		<th><a href="#" class="sortable" data-sort="users.first_name">posted by</a></th>
  
		<th><a href="#" class="sortable" data-sort="post_text">comment</a></th>
 
		<th><a href="#" class="sortable" data-sort="posts.is_deleted">status</a></th>
		<th><a href="#" class="sortable" data-sort="posts.created_at">created</a></th>
	</tr>
	<% @comments.each do |u| %>
	<tr>
		<td> 
			<a href="<%= edit_comment_path(u) %>"><i class="icon-pencil" title="Edit"></i></a>&nbsp;
			<%= link_to '<i class="icon-trash" title="Delete"></i>'.html_safe, post_path(u), :method => :delete, :confirm => "Are you sure you want to delete this post, this can not be un-done?" %>
			
		</td>
		<td><%= u.id %></td>
	 	<td><a href="<%= posts_path(:post_id => u.object_type_id)  %>"><%= u.object_type_id %></a></td>
		<td><a href="<%= edit_user_path(u.user) %>"><%= u.user.first_name %> <%= u.user.last_name %></a></td>
		<td><%= u.comment %></td>
 
 
 
		<td><%= !u.deleted ? "Active" : "Hidden" %></td>
		<td><%= u.created_at.strftime("%m/%d/%Y %I:%M:%S") %></td>

	</tr>
	<% end %>

</table>
<%= paginate(@comments) %>