<h4>Change Password: <%= @user.first_name %> <%= @user.last_name %></h4>

<%= form_for :user, :url => user_update_password_path(@user), :html => {:id => "edit-form",:class => "form-horizontal" , :method => :put} do |f| %>
<% if flash[:error].present? %>
<div class="alert alert-error">
  <%= flash[:error].join("<br>").html_safe %>
</div>
<% end %>

<% if flash[:result].present? %>
<div class="alert alert-success">
  <%= flash[:result] %>
</div>
<% end %>
   <div class="control-group"> 
    <%= f.label :password, :class =>"control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
    <div class="control-group"> 
    <%= f.label :password_confirmation, :class =>"control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn save-btn">Save</button>
       <a href="<%= edit_user_path(@user) %>" class="btn">Cancel</a>
    </div>
  </div>
<% end %>