<script type="text/javascript">
	$(document).ready(function() {
		$(".save-btn").click(function(e){
			e.preventDefault();
			if($("#user_is_deleted").is(":checked")) {
				if (confirm("Are you sure you want to block this user? User will be logged out and all posts will become hidden.") ) {
					$("#edit-form").submit();
				}
			} else {
				$("#edit-form").submit();
			}
		});
	});

</script>
<h4>Edit User: <%= @user.first_name %> <%= @user.last_name %></h4>
<%= form_for :user, :url => user_path(@user), :html => {:id => "edit-form",:class => "form-horizontal" , :method => :put} do |f| %>

<% if flash[:error].present? %>
<div class="alert alert-error">
	<%= flash[:error].join("<br>").html_safe %>
</div>
<% end %>

<% if flash[:result].present? %>
<div class="alert alert-success">
	<%= flash[:result] %>
</div>
<% end %>
  <div class="control-group"> 
    <%= f.label :first_name, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :last_name, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :username, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :email, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
   <div class="control-group"> 
    <%= f.label :password, :class =>"control-label" %>
    <div class="controls">
      <%= link_to "Change Password", user_change_password_path(@user) %>
    </div>
  </div>
  
 
  <div class="control-group">  
    <div class="controls">
      <%= f.check_box :is_deleted %> Blocked
    </div>
  </div>
 

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn save-btn">Save</button>
       <a href="<%= users_path %>" class="btn">Cancel</a>
    </div>
  </div>
<% end %>