<%= button_to 'Add', new_user_path, method: :get,  class: 'btn btn-success pull-right', style: 'margin-bottom: 10px;' %>
<h4>Users</h4>
<%= form_tag users_path,:method => :get ,:id => "list-form" do |f| %>
<input type="hidden" name="sort" id="sort" value="<%= params[:sort] if params[:sort].present? %>">	
<div class="input-append">
 
  <%= text_field_tag :search,params[:search], :class => "span2", :id =>  "appendedInputButton" %>
  <button class="btn html">Search</button>  <a href="#" class="btn csv">Download Results</a>  
<br><br>
 
</div>
<% end %>
Results: <%= @users.total_count %><br>
<br>

<table class="table">
	<tr>
		<th></th>
		<th>id</th>
		<th></th>
		<th><a href="#" class="sortable" data-sort="post_count">posts</a></th>
		<th><a href="#" class="sortable" data-sort="users.first_name">name</a></th>
		<th><a href="#" class="sortable" data-sort="users.email">email</a></th>
		<th><a href="#" class="sortable" data-sort="users.is_deleted">status</a></th> 
		<th><a href="#" class="sortable" data-sort="users.created_at">created</a></th>
	</tr>
	<% @users.each do |u| %>
	<tr>
		<td><a href="<%= edit_user_path(u) %>"><i class="icon-pencil" title="Edit"></i></a>&nbsp;
<%= link_to '<i class="icon-trash" title="Delete"></i>'.html_safe,user_path(u), :method => :delete, :confirm => "Are you sure you want to delete this user? This cannot be un-done." %>
		</td>
		<td><%= u.id %></td>
		<th><%= image_tag u.avatar(:avatar_small) ,:style => "height:30px" %></th>
		<td><a href="/admin/posts?user_id=<%= u.id %>"><%= u.posts.count %></a></td>
		<td><%= u.first_name %> <%= u.last_name %></td>
		<td><%= u.email %></td>
		<td><%= !u.is_deleted ? "Active" : "Blocked" %></td>
 
		<td><%= u.created_at.strftime("%m/%d/%Y %I:%M:%S") %></td>

	</tr>
	<% end %>

</table>
 <%= paginate @users %>

 <script type="text/javascript">
	$(".btn.csv").click(function(e){
		e.preventDefault();
		act = $("#list-form").attr("action");
		if (act.indexOf(".csv") > -1) {
			$("#list-form").attr("action",$("#list-form").attr("action"));
		} else {
			$("#list-form").attr("action",$("#list-form").attr("action")+".csv");
		}
		
		$("#list-form").submit();
	});
	$(".btn.html").click(function(e){
		e.preventDefault();
		$("#list-form").attr("action","<%= users_path %>");
		$("#list-form").submit();
	});
 </script>