<h4>Create User: </h4>
<%= form_for @user, :html => {:id => "edit-form", :class => "form-horizontal", :method => :post} do |f| %>
    <% if flash[:error].present? %>
        <div class="alert alert-error">
          <%= flash[:error].join("<br>").html_safe %>
        </div>
    <% end %>

    <% if flash[:result].present? %>
        <div class="alert alert-success">
          <%= flash[:result] %>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :first_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :username, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn save-btn">Save</button>
        <a href="<%= users_path %>" class="btn">Cancel</a>
      </div>
    </div>
<% end %>