
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Assets <%= @asset.id %></h3>
  </div>
  <div class="modal-body">
    <p>
 <img src="<%= @asset.file(:large) %>" width="250">  
 

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   
  </div>
 