<script type="text/javascript">
    $(document).ready(function(){
      $(".video-stop").click(function(){
        $("#video_player").each(function () { this.pause() });
      });
    });

</script>
  <div class="modal-header">
    <button type="button" class="close video-stop" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Video <%= @video.id %></h3>
  </div>
  <div class="modal-body">
    <p>
    <video id="video_player" src="<%= @video.file(:original) %>" style="width:320px;height:240px;" controls></video>

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn video-stop" data-dismiss="modal" aria-hidden="true">Close</button>
   
  </div>
