<h4>Edit Post: <%= @post.id %></h4>
<%= form_for :post, :url => post_path(@post), :html => {:id => "edit-form",:class => "form-horizontal" , :method => :put} do |f| %>

<% if flash[:error].present? %>
<div class="alert alert-error">
	<%= flash[:error].join("<br>").html_safe %>
</div>
<% end %>

<% if flash[:result].present? %>
<div class="alert alert-success">
	<%= flash[:result] %>
</div>
<% end %>
  <div class="control-group"> 
    <%= f.label :name, :class =>"control-label" %>
    <div class="controls">
      <%= @post.user.first_name %> <%= @post.user.last_name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :post_text, :class =>"control-label" %>
    <div class="controls">
      <%= f.text_area :post_text %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :assets, :class =>"control-label" %>
    <div class="controls">
    <% @post.assets.each do |a| %>
      <%= image_tag(a.file(:thumb),:style => "height:70px;")  %> &nbsp;
    <% end %>
    </div>
  </div>
 
  <div class="control-group">  
    <div class="controls">
      <%= f.check_box :is_deleted %> Blocked
    </div>
  </div>
 

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn save-btn">Save</button>
       <a href="<%= posts_path %>" class="btn">Cancel</a>
    </div>
  </div>
<% end %>