<h4>Posts</h4>
<%= form_tag posts_path,:method => :get,:id => "list-form" do |f| %>
<input type="hidden" name="sort" id="sort" value="<%= params[:sort] if params[:sort].present? %>">
<div class="input-append">
 
  <%= text_field_tag :search,params[:search], :class => "span2", :id =>  "appendedInputButton" %>
  <button class="btn">Search</button>  
 
</div>
<% end %>
<div id="post-media" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<table class="table">
	<tr>
		<th></th>
		<th>id</th>
	 	<th>parent post</th>
		<th><a href="#" class="sortable" data-sort="users.first_name">posted by</a></th>
		<th><a href="#" class="sortable" data-sort="like_count">likes</a></th>
		<th><a href="#" class="sortable" data-sort="comment_count">comments</a></th>
		<th><a href="#" class="sortable" data-sort="post_text">post_text</a></th>
		<th>assets</th>
		<th><a href="#" class="sortable" data-sort="flag">flags</a></th>
		<th><a href="#" class="sortable" data-sort="posts.is_deleted">status</a></th>
		<th><a href="#" class="sortable" data-sort="posts.created_at">created</a></th>
	</tr>
	<% @posts.each do |u| %>
	<% warning = u.flag.present? ? u.flag : 0 %>
	<tr<%= " class='error'".html_safe if !warning.eql?(0) %>>
		<td> 
			<a href="<%= edit_post_path(u) %>"><i class="icon-pencil" title="Edit"></i></a>&nbsp;
			<%= link_to '<i class="icon-trash" title="Delete"></i>'.html_safe, post_path(u), :method => :delete, :confirm => "Are you sure you want to delete this post, this can not be un-done?" %>
			
		</td>
		<td><%= u.id %></td>
	 	<td><a href="?post_id=<%= u.parent_post_id  %>"><%= u.parent_post_id %></a></td>
		<td><a href="<%= edit_user_path(u.user) %>"><%= u.user.first_name %> <%= u.user.last_name %></a></td>
		<td><%= u.likes.count %></td>
		<td><a href="<%= comments_path(:object_type_id => u.id,:object_type => 'post') %>"><%= u.comments.count %></a></td>
		<td><%= u.post_text %></td>
 
		<td>
		<% u.assets.each do |a| %>
			<% if a.file_content_type.include?("image/") %>
				<%= link_to image_tag(a.file(:thumb),:style => "height:40px;") , post_assets_path(a), :remote => true,"data-toggle" => "modal" %>  
			<% else %>
				<%= link_to image_tag("video.png",:style => "height:40px;") , post_video_path(a), :remote => true,"data-toggle" => "modal" %> 
			<% end %>&nbsp;
		<% end %>
		</td>
		<td><%= u.flag %></td>
		<td><%= !u.is_deleted ? "Active" : "Hidden" %></td>
		<td><%= u.created_at.strftime("%m/%d/%Y %I:%M:%S") %></td>

	</tr>
	<% end %>

</table>
<%= paginate(@posts) %>