<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Rails.application.class.parent_name %> Admin</title>
  <%= stylesheet_link_tag    "bluewhale_social_admin/application", media: "all" %>
  <%= javascript_include_tag "bluewhale_social_admin/application" %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
  <body>

     <div class="container">

      <div class="masthead">
        <h3 class="muted"><%= Rails.application.class.parent_name %> Admin</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <% if params[:controller].eql?("users") %><li class='active'><% else %><li><% end %><a href="<%= users_path %>">Users</a></li>
                <% if params[:controller].eql?("posts") %><li class='active'><% else %><li><% end %><a href="<%= posts_path %>">Posts</a></li>
                <% if params[:controller].eql?("comments") %><li class='active'><% else %><li><% end %><a href="<%= comments_path(:object_type => 'post') %>">Post Comments</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
		<%= yield %>
</div>

</body>
</html>
